@model HLFApplication.Models.Protein

@{
    ViewBag.Title = "Details";
}

<h2>Details about the product</h2>

<div style="display:block;clear:both;width:80%">
    <img src="@Model.ImageURL" style="max-width:300px;max-height:300px;float:left;" />
    <h2>@Model.Name - @Model.Price$</h2>
    <h4>@Model.Description</h4>
   
        @{
            decimal average = 0;
            if (Model.Ratings.Count == 0)
            {

                average = 0;
            }
            else
            {
                for (int i = 0; i < Model.Ratings.Count; i++)
                {
                    average += Model.Ratings.ElementAt(i);

                }
                average = average / (decimal)Model.Ratings.Count;

            }
            

        }
    
    <h4>Average rating of @Math.Round(average,2)/5 (@Model.Ratings.Count Ratings)</h4>

</div>
<div style="display:block;clear:both;width:80%">

    <h2>Comments from members: </h2>
    <table class="table">
        <tr>
            <th>
                <strong>Comment</strong>
            </th>
            <th>
                <strong>By</strong>
            </th>
        </tr>

        @foreach (HLFApplication.Models.Comment c in Model.Comments)
        {
            <tr>
                <td>
                   @c.Opinion
                </td>
                <td>
                    @c.Name
                </td>
                
            </tr>
        }

    </table>



</div>

    @Html.ActionLink("Add a comment", "Create", "Comments", new { id = @Model.ProteinId }, new { @class = "btn btn-default" })


